@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

main{
    margin-top: 2.5rem;
    padding: 0.15px;
}

.background{
    background-image: url("../images/plans-background.jpg");
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    z-index: -1;
    filter:grayscale(35%);
}

.package{
    border: 3px #0e4f1f solid;
    border-left: none;
    margin: 0.7rem 0 ;
    width: 85%;
    opacity: 85%;
    margin: 1rem 0;
    position: relative;
}

.package > a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 2rem;
}

#free{
    background: #b8e7c5;
    float: right;
    text-align: right;
    border-right: none;
    border-left: 3px black solid;
}

.clearfix{
    clear: both;
}

#plus{
    background: #7ffaa2;

}

.package-badge{
    position: absolute;
    /* height: 10%;
    width: 10%; */
    top: 0;
    right: 5%;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
    z-index: 100;
    /* background: whitesmoke; */
    /* border-radius: 50%; */
}

#premium{
    background: #0e4f1f;
}

#premium .package-title{
    color: white;
}

.package-subtitle{
    color: #848d89;
}

.package-info{
    border: 1px black solid;
    padding: 1rem;
    margin: auto;
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;

}

.package:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 4px #fff;
    border-color: red;
}

#free:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 4px #fff;
    border-color: red;
}
