/*  use camel cases for naming as css is case-insensitive */

*{
    box-sizing: border-box;
    /* box-sizing is not inherited as the children are block level element. so, we make it universal */
}
body{
    margin: 0px;
    /* overflow-y: hidden; */
}

#product-overview {
    margin-top: 1.5rem;
    background: url("images/freedom.jpg");
    /* padding: 0.7rem; */
    height: 50vh;
    color: white;
    position: relative;
    background-size: cover;
    background-position: left 10% bottom 5%;
    background-repeat: no-repeat;

}

#product-overview > h1{
    position: absolute;
    font-size: 1rem;
    bottom: 8%;
    left: 3%;
    /* z-index: -1; */
}

h1 {
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #0e4f1f;
}

/* 
selectors:
    -   html tags   h1{}
    -   class selectors .class-name{}
    -   id selectors    #id-name{}
    -   attribute selectors [src]
*/

/* 
specificity order:
    inline
    id
    class, pseudo-class, attribute
    html tag & pseudo elements 
*/



#plans{ 
    text-align: center;
    width: 100%;
}

.plan{
    display: block;
    background: #d5ffdc;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.plan-highlighted{
    color: white;
    background: #175c29;
}

.plan-annotations{
    color: #175c29;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(95, 181, 86, 0.5);
    padding: 0.5rem;
    border-radius: 8px;
}

.plan-title{
    color: #175c29;
}

.plan-price{
    color: #570b0b;
    
}

.plan-highlighted .plan-title{
    color: white;
}

.plan-highlighted .plan-price{
    color: #22ce18;
}

.plan-features{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.plan-feature{
    margin: 0.5rem 0px;
}



.good-reasons-section{
    text-align: center;
    background: #e65263;
    color: white;
    margin-top: 5rem;
    padding: 1rem 0px;
}

.good-reasons-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.good-reason{
    display: block;
    margin: auto
}


.good-reason-image{
    background: #ffcede;
    width: 128px;
    /* align-items: center; */
    border: 2px #424242 solid;
    border-radius: 50%;
    height: 128px;
    margin: auto;
    padding: 10%;
} 


/* Model css */
.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

.open{
    display: block;
}

  /* go to mydevice.io to get the breaking points */

  @media (min-width: 30rem){
    #product-overview > h1{
        font-size:2rem;
    }
    
    #product-overview {
        height: 70vh;
        background-position: left 10% bottom 50%;
    
    }

    #plans{ 
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 1rem;
    }

    .plan{
        display: inline-block;
        background: #d5ffdc;
        margin: 0.5rem;
        padding: 1rem;
        width: 25%;
        vertical-align: middle;
        min-width: 12rem;
        max-width: 25rem;
    }
    
    .plan-highlighted{
        color: white;
        background: #175c29;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    
    
    .good-reason{
        display: inline-block;
        width: 30%;
        max-width: 25rem;
        min-width: 10rem;
        /* vertical-align: top; */
    }
    

} 